<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="file:///android_asset/classical.css" />
	<script type="text/javascript" src="file:///android_asset/mootools.core.js"></script>
	<script type="text/javascript" src="file:///android_asset/tools.js"></script>
	<script type="text/javascript" src="file:///android_asset/clientubb.js"></script>
	<meta name="viewport" content="width=device-width, user-scalable=no" />
</head>
<body>
	<div  class="bg-wrapper">
		<a href="javascript:;" id="showAllImages"></a>
		<div class="post">
			<div class="post-content-wrapper">
				<div class="post-info">
					<div class="topic" >
						<big><strong>{{title}}</strong></big>
					</div>
					<br />
					<img class="img-avatar" src="{{avatar}}" height=64/>
					<div class="name">{{author}}</div><br />
					<div class="floor-num"></div>
					<div class="time"><small>{{time}}</small></div><br />
				</div>
				<br />
				<div class="post-content">
                    <span id="ubbcode">
                    {{{content}}}
                    </span>
                    <script>searchubb('ubbcode', 1, 'tablebody2');</script>
				</div>
			</div>
		</div>
 	</div> 
</body>
</html>