<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	{{#styles}}
	<link rel="stylesheet" href="{{stylesheet}}" />
	{{/styles}}
	<script type="text/javascript" src="file:///android_asset/mootools.core.js"></script>
	<script type="text/javascript" src="file:///android_asset/tools.js"></script>
	{{#scripts}}
	<script type="text/javascript" src="{{script}}"></script>
	{{/scripts}}
	<meta name="viewport" content="width=device-width, user-scalable=no" />
</head>
<body>
	<div  class="bg-wrapper">
		<a href="javascript:;" id="showAllImages"></a>
		{{#posts}}
		<div class="post">
			<div class="post-content-wrapper">
				<div class="post-info">
					<div class="topic" >
						<big><strong>{{title}}</strong></big>
					</div>
					<br /> 
					<div class="name">{{author}}</div><br />
					<div class="floor-num">{{floor}}</div>
					<img class="img-gender" src="file:///android_asset/pic/{{gender}}.gif"/>
					<div class="time"><small>{{time}}</small></div><br />
				</div>
				<img class="post-face" src="file:///android_asset/pic/{{face}}" /><br />
				<div class="post-content">
					{{{content}}}	
				</div>
			</div>
			<div class="btn-group">
				<a class="btn" onclick="PostContentsJSActivity.showContentDialog({{index}},0);">吐槽</a>
				<a class="btn" onclick="PostContentsJSActivity.showContentDialog({{index}},1);">站短</a>
				<a class="btn" onclick="PostContentsJSActivity.showContentDialog({{index}},3);">查看</a>
				<a class="btn" onclick="PostContentsJSActivity.showContentDialog({{index}},2);">加好友</a>
			</div>
		</div>
		{{/posts}}
 	</div> 
</body>
</html>