@CHARSET "UTF-8";
/* custom.css */
div {
	display: block;
}

body {
	font-family: Microsoft YaHei;
	background-color: #f2f2f2;
	word-wrap: break-word;
	word-break: break-all;
}

.bg-wrapper {
	margin-left: 6px;
	margin-right: 6px;
 	margin-top: 30px;
 	margin-bottom: 48px;
 	padding: 10px 10px 10px 10px;
 	border: 1px solid #d1d1d1;
	background-color: #fbfbfb;
}


.topic {
	margin: 0 0 0 0;
	font-size: 10pt;
	font-weight: bold;
}

.name {
 	font-weight: bold;
	color: #0099CC;
}

.img-avatar {
	float: left;
	margin: 0px 10px 0 0;
}

.floor-num {
	color: grey;
}

.right {
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}

.img-gender {
	margin: 0px 4px 0px 0;
}

.middle {
    /*display: inline-block;*/
    /*vertical-align: text-top;*/
    margin: 0 0 0 0;
    line-height: 150%;
}
.time {
    vertical-align:text-top;
  	color: grey;
  	margin: 0 4px 0 0;
}

.more {
width: 20px;
 }
.post-info {
	clear: both;
	margin: 0 0 10px 0;
}

.post-content {
	margin: 7px 0 0 0;
	font-size: 10pt;
}

.post {
	margin: 10px 15px 15px 15px;
 	padding: 10px 10px 10px 10px;
    border-top: 1px solid #e3e3e3;
}

.bg-wrapper > .post:first-child {
    border-top: 0px solid #fff;
}


.tablebody2 {
	background-color: #white;
	border: 1px #6595D6 solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #dedede;
	border-right-color: #dedede;
	border-bottom-color: #dedede;
	border-left-color: #dedede;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.tablebody1 {
	background-color: white;
	border: 1px #6595D6 solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #dedede;
	border-right-color: #dedede;
	border-bottom-color: #dedede;
	border-left-color: #dedede;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.dialog-but {
	float: right;
}
 
.btn {
	color: #08C;
	width: 25%;
	display: inline-block;
	padding: 8px 0px 8px;
 	font-size: 13px;
  text-align: center;
	vertical-align: middle;
	background-color: #f5f5f5;
 	border-color: #bfbfbf;
	border: 1px solid #cccccc;
}

 .btn-group {
	margin-left:1px;
	margin-right:-2px;
	margin-bottom:-1px;
	
 }
/*   在这里改变点击是的颜色 */
 .btn:hover {
  text-decoration: none;
  background-color: #e6e6e6;
 }

 .btn-group:before,
.btn-group:after {
  display: table;
  content: "";
}

.btn-group:after {
  clear: both;
}

 
.btn-group > .btn {
  position: relative;
  float: left;
  margin-left: -2px;
  -webkit-border-radius: 0;
}

.btn-group > .btn:first-child {
   -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
 }

.btn-group > .btn:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
 }

   
   
 