<!DOCTYPE html>
<html>
</head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="file:///android_asset/classical.css" />
	<script type="text/javascript" src="file:///android_asset/mootools.core.js"></script>
	<script type="text/javascript" src="file:///android_asset/tools.js"></script>
	<script type="text/javascript" src="file:///android_asset/clientubb_proxy.js"></script>
	<meta name="viewport" content="width=device-width, user-scalable=no" />
</head>
<body>
	<div  class="bg-wrapper">
		<a href="javascript:;" id="showAllImages"></a>
		$foreach$
		<div class="post" >
 				<div class="post-info"  onclick="PostContentsJSActivity.showContextMenu(${i});">
					<div class="topic" >
						<big><strong>${title}</strong></big>
					</div>
					<img class="img-avatar" src="${avatar}" height="64px" width="64px"/>
                    <p class="middle">
                        <em class="name">${author}</em>&nbsp;&nbsp;&nbsp;&nbsp;
                        <small class="time">${time}</small><br/>
                        <img class="img-gender" src="file:///android_asset/pic/${gender}.gif"/>
                    </p>
                    <div class="right">
                        <em class="floor-num">${floor}</em>
                        <img class="more" src="file:///android_asset/pic/more.png"/>
                    </div>
				</div><br/>
				<img class="post-face" src="file:///android_asset/pic/${face}" /><br />
				<div class="post-content">
					${content}
				</div>
  		</div>
		$endeach$
 	</div>
</body>
</html>