<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.djcrazy.MyCC98"
    android:versionCode="2"
    android:versionName="1.0 Alpha 2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".application.MyApplication"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name=".LoginActivity"
            alwaysRetainTaskState="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PostListActivity" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".PostSearchActivity" />
        </activity>
        <activity
            android:name=".EditActivity" >
        </activity>
        <activity
            android:name=".PmActivity" >
        </activity>
        <activity
            android:name=".PmViewActivity" >
        </activity>
        <activity
            android:name=".PostContentsJSActivity" 
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name=".PreviewActivity"  >
        </activity>
        <activity
            android:name=".PostSearchActivity"
             android:launchMode="singleTop"  >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_posts" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PushNewPostActivity"
            alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name=".HomeActivity"
            alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".PostSearchActivity" />
        </activity>
        <activity
            android:name=".SketchActivity"
            alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
    </application>

</manifest>