@CHARSET "UTF-8";

body {
	background-color: #E6E6F2;
}

.wrapper {
	padding-left: 20px;
	padding-right: 20px;
}

.topic {
	margin: 0 0 -5px 0;
	font-size: 10pt;
	font-weight: bold;
}

.name { /* 	float: left; */
	float: left;
	clear: right;
	font-weight: bold;
	color: royalblue;
}

.img-avatar {
	float: left;
	margin: 0px 10px 0 0;
	-webkit-border-radius: 6px 6px;
	/*-webkit-box-shadow: 0  0 6px #000; */
}

.floor-num {
	float: right;
}

.img-gender {
	margin: 0px 0 0px 0;
}

.btn {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	display: inline-block;
	padding: 4px 10px 4px;
	margin-bottom: 0;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #E6E6E6;
	background-repeat: repeat-x;
	border: 1px solid #CCC;
	width: 100%;
}
.btn_wrapper {
	padding-left: 20px;
	padding-right: 20px;
}
 

.time { /* 	float: left; */
	margin: 2px 0 0 0;
	clear: right;
	color: grey;
}

.post-info {
	clear: both;
	margin: 0 0 10px 0;
}

.post-content {
	margin: 10px 0 0 0;
	font-size: 10pt;
}

.post {
	-webkit-border-radius: 4px;
	background-color: white;
	margin: 0 -10px 12px -10px;
	padding: 8px 8px 50px 8px;
	background-color: white;
}

.pm-reply {
	
}

.tablebody2 {
	background-color: #white;
	border: 1px #6595D6 solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #dedede;
	border-right-color: #dedede;
	border-bottom-color: #dedede;
	border-left-color: #dedede;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.tablebody1 {
	background-color: white;
	border: 1px #6595D6 solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #dedede;
	border-right-color: #dedede;
	border-bottom-color: #dedede;
	border-left-color: #dedede;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.dialog-but {
	float: right;
}