@charset "utf-8";
/* CSS Document */
a:link,a:active,a:visited {
 text-decoration: none;
 color:#000000;
}
a:hover {
 text-decoration: underline;
 color:#4455aa;
}

BODY{
font-size: 12px;
color: #000000;
font-family: 宋体;
background-color: #FFFFFF; 

}
TD{
font-family: 宋体;
font-size: 12px;
line-height: 15px;
}
th
{
background-image: url("../skin/default/bg1.gif");
background-color: #4455aa;
color: white;
font-size: 12px;
font-weight:bold;
}
td.TableTitle2
{
background-color: #E4E8EF;
}
td.TableBody1
{
background-color: #FFFFFF;
}
td.TableBody2
{
background-color: #E4E8EF;
}

div.TableBody1{
	background-color: #FFFFFF;
	border:1px #6595D6 solid;
}
div.TableBody2{
	background-color:#e4e8ef;
	border:1px #6595D6 solid;
}

td.TopDarkNav
{
background-image: url("../skin/default/topbg.gif");
}
td.TopLighNav
{
background-image: url("../skin/default/bottombg.gif");
}
td.TopLighNav1
{
background-image: url("../skin/default/tabs_m_tile.gif");
}
td.TopLighNav2
{
background-color:#FFFFFF
}
.tableBorder1
{
width:97%;
border: 1px; 
background-color: #6595D6;
}
.tableBorder2
{
width:97%;
border: 1px #DEDEDE solid; 
background-color: #EFEFEF;
}

#TableTitleLink A:link, #TableTitleLink A:visited, #TableTitleLink A:active {
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}
#TableTitleLink A:hover {
	COLOR: #FFFFFF;
	TEXT-DECORATION: underline;}

input,select,Textarea{
font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 15px;}
}
.normalTextSmall 
{ 
    font-size : 11px;
    color : #000000; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
a.mainjs
{
 font-size: 9pt;
 line-height: 14pt;
}
/*add a new style*/
.tableBorder3
{
width:100%;  border: 1px;   background-color: #6595D6;
}

.advImg{
	height:60px;
	width:468px;
	text-align:center;
	border:none;
}

.loading{
	background:url(../images/spinner.gif) no-repeat center;
}

.advImg a{
	display:block;
	text-align:center;
	width:468px;
	height:60px;
}


div.maskLayer{
	position: absolute;
	top:0;
	left:0;
	background-color:#7f7f7f;
}

div#s-box{
	background-color:#fff;
	position:absolute;
}
div#dialogBox{
	position:absolute;
	height:100px;
	width:520px;
	z-index:100;
}
.x-form-field {
	border-right: #b5b8c8 1px solid; border-top: #b5b8c8 1px solid; margin: 0px; font: 12px tahoma, arial, helvetica, sans-serif; border-left: #b5b8c8 1px solid; border-bottom: #b5b8c8 1px solid
}
.x-form-text {
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 1px;
	padding-top: 1px;
	vertical-align: middle;
	line-height: 18px;
	height: 22px
}
.x-form-field-wrap {
	ZOOM: 1; POSITION: relative
}
.x-form-focus {
	border-right: #7eadd9 1px solid; border-top: #7eadd9 1px solid; border-left: #7eadd9 1px solid; border-bottom: #7eadd9 1px solid
}

.x-box-tl {
	background: url(../images/boardsearch/corners.gif) no-repeat 0px 0px
}
.x-box-tc {
	background: url(../images/boardsearch/tb.gif) repeat-x 0px 0px; overflow: hidden; height: 8px
}
.x-box-tr {
	background: url(../images/boardsearch/corners.gif) no-repeat right -8px
}
.x-box-ml {
	padding-left: 4px; background: url(../images/boardsearch/l.gif) repeat-y left 50%; overflow: hidden
}
.x-box-mc {
	padding-right: 10px; padding-left: 10px; font-size: 12px; background: url(../images/boardsearch/tb.gif) #eee repeat-x 0px -16px; padding-bottom: 4px; color: #393939; padding-top: 4px; font-family: "myriad pro","myriad web","tahoma","helvetica","arial",sans-serif
}
.x-box-mc h3 {
	font-weight: bold; font-size: 14px
}
.x-box-mr {
	padding-right: 4px; background: url(../images/boardsearch/r.gif) repeat-y right 50%; overflow: hidden
}
.x-box-bl {
	background: url(../images/boardsearch/corners.gif) no-repeat 0px -16px
}
.x-box-bc {
	background: url(../images/boardsearch/tb.gif) repeat-x 0px -8px; overflow: hidden; height: 8px
}
.x-box-br {
	background: url(../images/boardsearch/corners.gif) no-repeat right -24px
}
.x-box-tl {
	padding-left: 8px; overflow: hidden
}
.x-box-bl {
	padding-left: 8px; overflow: hidden
}
.x-box-tr {
	padding-right: 8px; overflow: hidden
}
.x-box-br {
	padding-right: 8px; overflow: hidden
}

.x-shadow {
	display: none; overflow: hidden; position: absolute
}
.x-shadow * {
	overflow: hidden
}
.x-shadow * {
	border-top-width: 0px; clear: none; padding-right: 0px; padding-left: 0px; border-left-width: 0px; border-bottom-width: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px; zoom: 1; border-right-width: 0px
}
.x-shadow .xstc {
	float: left; height: 6px
}
.x-shadow .xsbc {
	float: left; height: 6px
}
.x-shadow .xstl {
	float: left; width: 6px; height: 6px
}
.x-shadow .xstr {
	float: left; width: 6px; height: 6px
}
.x-shadow .xsbl {
	float: left; width: 6px; height: 6px
}
.x-shadow .xsbr {
	float: left; width: 6px; height: 6px
}
.x-shadow .xsc {
	width: 100%
}
.x-shadow .xsml {
	float: left; width: 6px; height: 100%
}
.x-shadow .xsmr {
	float: left; width: 6px; height: 100%
}
.x-shadow .xsmc {
	background: #333333; filter: alpha(opacity=25); float: left; height: 100%; -moz-opacity: .35; opacity: .35
}
.x-shadow .xst {
	overflow: hidden; width: 100%; height: 6px
}
.x-shadow .xsb {
	overflow: hidden; width: 100%; height: 6px
}
.x-shadow .xsml {
	background: url(../images/boardsearch/shadow-lr.png) repeat-y 0px 0px
}
.x-shadow .xsmr {
	background: url(../images/boardsearch/shadow-lr.png) repeat-y -6px 0px
}
.x-shadow .xstl {
	background: url(../images/boardsearch/shadow.png) no-repeat 0px 0px
}
.x-shadow .xstc {
	background: url(../images/boardsearch/shadow.png) repeat-x 0px -30px
}
.x-shadow .xstr {
	background: url(../images/boardsearch/shadow.png) repeat-x 0px -18px
}
.x-shadow .xsbl {
	background: url(../images/boardsearch/shadow.png) no-repeat 0px -12px
}
.x-shadow .xsbc {
	background: url(../images/boardsearch/shadow.png) repeat-x 0px -36px
}
.x-shadow .xsbr {
	background: url(../images/boardsearch/shadow.png) repeat-x 0px -6px
}

.x-layer {
	visibility: hidden
}

.x-combo-list {
	border-right: #98c0f4 1px solid; border-top: #98c0f4 1px solid; background: #ddecfe; overflow: hidden; border-left: #98c0f4 1px solid; border-bottom: #98c0f4 1px solid; zoom: 1
}
.x-combo-list .x-combo-selected {
	border-right: #336699 1px solid; border-top: #336699 1px solid; border-left: #336699 1px solid; cursor: pointer; border-bottom: #336699 1px solid; background-color: #c3daf9! important
}
.x-combo-list-inner {
	background: white; overflow: auto; position: relative
}
.loading-indicator {
	background-position: left 50%; padding-left: 20px; font-size: 11px; background-image: url(../images/boardsearch/loading.gif); margin: 3px; line-height: 16px; background-repeat: no-repeat
}
.x-toolbar {
	border-right: #eaf0f7 1px solid; padding-right: 2px; border-top: #eaf0f7 1px solid; display: block; padding-left: 2px; background: url(../images/boardsearch/panel-title-light-bg.gif) #d0def0 repeat-x; padding-bottom: 2px; border-left: #eaf0f7 1px solid; padding-top: 2px; border-bottom: #a9bfd3 1px solid
}
.x-toolbar td {
	vertical-align: middle
}
.mso .x-toolbar {
	border-right: 0px; border-top: 0px; background: url(../images/boardsearch/mso-hd.gif); border-left: 0px; border-bottom: 0px
}
.x-grid-mso .x-toolbar {
	border-right: 0px; border-top: 0px; background: url(../images/boardsearch/mso-hd.gif); border-left: 0px; border-bottom: 0px
}
.x-toolbar td {
	font: 11px tahoma, arial, helvetica, sans-serif; white-space: nowrap
}
.x-toolbar span {
	font: 11px tahoma, arial, helvetica, sans-serif; white-space: nowrap
}
.x-toolbar input {
	font: 11px tahoma, arial, helvetica, sans-serif; white-space: nowrap
}
.x-toolbar div {
	font: 11px tahoma, arial, helvetica, sans-serif; white-space: nowrap
}
.x-toolbar select {
	font: 11px tahoma, arial, helvetica, sans-serif; white-space: nowrap
}
.x-toolbar label {
	font: 11px tahoma, arial, helvetica, sans-serif; white-space: nowrap
}
.x-toolbar .x-item-disabled {
	filter: alpha(opacity=60); cursor: default; color: gray; -moz-opacity: .6; opacity: .6
}
.x-toolbar .x-item-disabled * {
	cursor: default; color: gray
}
.x-toolbar .x-btn-left {
	background: none transparent scroll repeat 0% 0%
}
.x-toolbar .x-btn-right {
	background: none transparent scroll repeat 0% 0%
}
.x-toolbar .x-btn-center {
	padding-right: 0px; padding-left: 0px; background: none transparent scroll repeat 0% 0%; padding-bottom: 0px; padding-top: 0px
}
.x-toolbar .x-btn-menu-text-wrap .x-btn-center button {
	padding-right: 2px
}
.ext-gecko .x-toolbar .x-btn-menu-text-wrap .x-btn-center button {
	padding-right: 0px
}
.x-toolbar .x-btn-menu-arrow-wrap .x-btn-center button {
	padding-right: 2px; padding-left: 2px; padding-bottom: 0px; padding-top: 0px
}
.x-toolbar .x-btn-menu-arrow-wrap .x-btn-center button {
	background: url(../images/boardsearch/btn-arrow.gif) no-repeat 0px 3px; width: 12px
}
.x-toolbar .x-btn-text-icon .x-btn-menu-arrow-wrap .x-btn-center button {
	background: url(../images/boardsearch/btn-arrow.gif) no-repeat 0px 3px; width: 12px
}
.x-toolbar .x-btn-over .x-btn-menu-arrow-wrap .x-btn-center button {
	background-position: 0px -47px
}
.x-toolbar .x-btn-over .x-btn-left {
	background: url(../images/boardsearch/tb-btn-sprite.gif) no-repeat 0px 0px
}
.x-toolbar .x-btn-over .x-btn-right {
	background: url(../images/boardsearch/tb-btn-sprite.gif) no-repeat 0px -21px
}
.x-toolbar .x-btn-over .x-btn-center {
	background: url(../images/boardsearch/tb-btn-sprite.gif) repeat-x 0px -42px
}
.x-toolbar .x-btn-click .x-btn-left {
	background: url(../images/boardsearch/tb-btn-sprite.gif) no-repeat 0px -63px
}
.x-toolbar .x-btn-pressed .x-btn-left {
	background: url(../images/boardsearch/tb-btn-sprite.gif) no-repeat 0px -63px
}
.x-toolbar .x-btn-menu-active .x-btn-left {
	background: url(../images/boardsearch/tb-btn-sprite.gif) no-repeat 0px -63px
}
.x-toolbar .x-btn-click .x-btn-right {
	background: url(../images/boardsearch/tb-btn-sprite.gif) no-repeat 0px -84px
}
.x-toolbar .x-btn-pressed .x-btn-right {
	background: url(../images/boardsearch/tb-btn-sprite.gif) no-repeat 0px -84px
}
.x-toolbar .x-btn-menu-active .x-btn-right {
	background: url(../images/boardsearch/tb-btn-sprite.gif) no-repeat 0px -84px
}
.x-toolbar .x-btn-click .x-btn-center {
	background: url(../images/boardsearch/tb-btn-sprite.gif) repeat-x 0px -105px
}
.x-toolbar .x-btn-pressed .x-btn-center {
	background: url(../images/boardsearch/tb-btn-sprite.gif) repeat-x 0px -105px
}
.x-toolbar .x-btn-menu-active .x-btn-center {
	background: url(../images/boardsearch/tb-btn-sprite.gif) repeat-x 0px -105px
}
.x-toolbar .ytb-text {
	padding-right: 2px; padding-left: 2px; padding-bottom: 2px; padding-top: 2px
}
.x-toolbar .ytb-sep {
	border-top-width: 0px; background-position: center 50%; display: block; border-left-width: 0px; font-size: 1px; background-image: url(../images/boardsearch/grid-split.gif); border-bottom-width: 0px; margin: 0px 2px; overflow: hidden; width: 4px; cursor: default; background-repeat: no-repeat; height: 16px; border-right-width: 0px
}

.x-small-editor .x-form-field {
	font: 11px arial, tahoma, helvetica, sans-serif
}
.x-small-editor .x-form-text {
	vertical-align: middle; line-height: 16px; height: 20px
}
#resultBox{
	position:absolute;
	border:#39F 1px solid;
	z-index:11999;
}
#resultTitle{
	width:100%;
	height:31px;
	line-height:20px;
	background:url(../images/boardsearch/mso-hd.gif);
}
#resultItem{
	overflow:auto;
	background:#FFF;
	width:100%;
}
#resultItem .item{
	padding-left:15px;
	height:30px;
	line-height:14px;
}
#copyright { width:97%; margin:0 auto; padding:10px 0; font-family:Verdana; font-size:11px; color:#666666; text-align:center; }
#copyright a:link { color:#666666; }
#copyright a:visited { color:#666666; }
#copyright a:hover { color:#FF0000; }