<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.djcrazy.MyCC98"
    android:versionCode="38"
    android:versionName="3.2.7" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>

    <supports-screens
        android:anyDensity="true"/>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Mycc98" >
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="General" />
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="3c22e62623" />
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />

        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PostListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="user">
            <intent-filter>
                <action android:name="tk.djcrazy.mycc98.post_list.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".PostSearchActivity" />
        </activity>
        <activity
            android:name=".BoardListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="user">
            <intent-filter>
                <action android:name="tk.djcrazy.mycc98.board_list.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".PostSearchActivity" />
        </activity>
        <activity
            android:name=".PhotoViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="user"
            android:theme="@style/Theme.Mycc98.OverLay" >
            <intent-filter>
                <action android:name="tk.djcrazy.mycc98.photo.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="user">
        </activity>
        <activity
            android:name=".PmActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="user">
        </activity>
        <activity
            android:name=".PmViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="user">
            <intent-filter>
                <action android:name="tk.djcrazy.mycc98.pm.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PostContentsJSActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/Theme.Mycc98.OverLay"
            android:screenOrientation="user">
            <intent-filter>
                <action android:name="tk.djcrazy.mycc98.post_content.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExportedProxyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/Theme.Mycc98.OverLay" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"  android:host="hz.cc98.lifetoy.org" android:pathPattern=".*dispbbs.*"/>
                <data android:scheme="http"  android:host="www.cc98.org" android:pathPattern=".*dispbbs.*"/>
                </intent-filter>
        </activity>
         <activity
            android:name=".PostSearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
             android:screenOrientation="user">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_posts" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.Mycc98.OverLay"
            android:screenOrientation="user">
        </activity>
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="user">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".PostSearchActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="user">
        </activity>

        <service
            android:name=".service.NewVersionDownloadService"
            android:exported="false" >
        </service>
     </application>

</manifest>