@CHARSET "UTF-8";

div {
	display: block;
}

body {
	background-color: #ececec;
	word-wrap: break-word;
	word-break: break-all;
}

.bg-wrapper {
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 45px;
	padding-top: 45px;
background-color: #ececec;
}

.btn {
	color: #08C;
	width: 25%;
	font-size: 8px;
}

.topic {
	margin: 0 0 -5px 0;
	font-size: 10pt;
	font-weight: bold;
}

.name { /* 	float: left; */
	float: left;
	clear: right;
	font-weight: bold;
	color: royalblue;
}

.img-avatar {
	float: left;
	margin: 0px 10px 0 0;
	/* 	-webkit-border-radius: 6px 6px; */
	/*-webkit-box-shadow: 0  0 6px #000; */
}

.floor-num {
	float: right;
}

.img-gender {
	margin: 0px 0 0px 0;
}

.time { /* 	float: left; */
	margin: 2px 0 0 0;
	clear: right;
	color: grey;
}

.post-info {
	clear: both;
	margin: 0 0 10px 0;
}

.post-content {
	margin: 7px 0 0 0;
	font-size: 10pt;
}

.post {
	-webkit-border-radius: 4px;
	background-color: white;
	margin-bottom: 0px;
}

.post-content-wrapper {
	margin: 5px 80px 10px 80px;
	padding: 10px 10px 10px 10px;
}

.pm-reply {
	
}

.tablebody2 {
	background-color: #white;
	border: 1px #6595D6 solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #dedede;
	border-right-color: #dedede;
	border-bottom-color: #dedede;
	border-left-color: #dedede;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.tablebody1 {
	background-color: white;
	border: 1px #6595D6 solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #dedede;
	border-right-color: #dedede;
	border-bottom-color: #dedede;
	border-left-color: #dedede;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}

.dialog-but {
	float: right;
}